<!-- Launch file to bring up all essential nodes for navigation in a given map.
You must start map_server separately with the desired map.
-->

<launch>

<!--  <include file="$(find youbot_common)/launch/youbot_wrapper.launch" />
  <include file="$(find youbot_common)/launch/youbot_joint_state_publisher.launch" />
-->  <include file="$(find youbot_navigation_common)/launch/base_front_hokuyo_node.launch" />
  <include file="$(find youbot_navigation_global)/launch/move_base_global.launch" />
  <include file="$(find youbot_navigation_global)/launch/amcl.launch" />

</launch>

